.App {
  font-family: sans-serif;
  text-align: center;
  width: 80%;
  margin: auto;
}

.modal-button {
  padding: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.ReactModal__Overlay {
  width: 60%;
  height: 300px;
  margin: 100px auto 0 auto;
  text-align: center;
  font-size: 20px;
}
